
/* NAVIGACIJA glavni element */
nav {
    display: flex;
    justify-content: space-between;
    height: 12vh;
    margin: 50px 0 10px 0;
    position: sticky;
    top: 0px;
    z-index: 100;
    background-color: var(--lightgrey);
    border-top: 1px solid var(--primary);
    border-bottom: 1px solid var(--primary);
  }
  
  /* NAVIGACIJA neuredjena lista - linkovi */
  #nav-ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 0 16px;
  }
  
  #nav-ul li {
    list-style-type: none;
    display: flex;
    height: 100%;
    margin-right: 20px;
    text-align: center;
  }
  
  /* Linkovi u navigaciji ( bez logo slicice) */
  #nav-ul li a {
    position: relative;
    text-decoration: none;
    color: var(--primary);
    font-size: 2rem;
    font-family: var(--fontNaslov);
    line-height: 2.7;
    padding: 0 20px;
  }
  
  
  /* Kreiranje pseudo elementa nakon linkova u navigaciji */
  #nav-ul li a::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 5px;
    bottom: 10px;
    left: 0;
    background-color: var(--pink);
    transform-origin: bottom right;
    transition: transform 0.25s ease-in;
  }
  /* Nakon prelaska misem preko linka pojavljuje se element koji je kreiran preko pseudo klase */
  #nav-ul li a:hover::after {
    transform: scaleX(1); 
    transform-origin: bottom left;
  }
  
  /* NAVIGACIJA logo img */
  #nav-logo {
    margin-left: 3%;
    filter: drop-shadow(8px 8px 4px var(--primary));
    height: 100%;
  }
  